/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-Thin.woff2') format('woff2');*/
/*  font-weight: 100;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-ExtraLight.woff2') format('woff2');*/
/*  font-weight: 200;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-Light.woff2') format('woff2');*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-Regular.woff2') format('woff2');*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-Medium.woff2') format('woff2');*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-SemiBold.woff2') format('woff2');*/
/*  font-weight: 600;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-Bold.woff2') format('woff2');*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-ExtraBold.woff2') format('woff2');*/
/*  font-weight: 800;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Genos';*/
/*  src: url('/fonts/Genos-Black.woff2') format('woff2');*/
/*  font-weight: 900;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

