:root {
  --font-sans: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --page-max-width: 100rem;
  --page-nav-width: 15rem;
  --page-gutter: 4rem;

  --color-text: var(--color-grey900);
  --color-secondary-text: var(--color-grey500);
  --color-hint-text: var(--color-grey300);
  --color-background: var(--color-grey0);
  --color-border: var(--color-grey100);

  --tag-page-preview-width: 20vw;
  --tag-page-content-width: 40vw;

  --font-weight-normal: 300;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;
}
